/* Features container
   ========================================================================== */
/* Variables file: assets/stylesheets/components/feature-container/feature-container.variables.scss */
.feature-container {
  align-items: center;
  background: $features-container-bg;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  padding: $feature-spacing;


  &:nth-child(even) {
    border-left: 5px solid;
  }

  &:nth-child(odd) {
    border-right: 5px solid;
  }

  &:not(:last-of-type) {
    margin-bottom: $feature-spacing;
  }

  &:nth-child(2) {
    border-color: $features-container-1;
  }

  &:nth-child(3) {
    border-color: $features-container-2;
  }

  &:nth-child(4) {
    border-color: $features-container-3;
  }

  &:nth-child(5) {
    border-color: $features-container-4;
  }

  .feature-description {
    width: 50%;
  }

  figure {
    text-align: center;
    width: 50%;

    img {
      height: $feature-figure-img-height;

      @media screen and (max-width: $md-max) {
        height: 180px;
      }
    }
  }

  &-align-start {
    align-items: flex-start;
  }

  @media screen and (max-width: $sd-max) {
    flex-direction: column;

    .feature-description {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}
