/* Layout variables
   ========================================================================== */
$aside-width: 250px;
$onmobile-content-margin-top: 80px; // same as $mm-height from mobile-menu.scss vars
$container-max-width: 1366px - $aside-width;

/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$body-bg: $bc-white;
$body-color: $bc-gray-900;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$container-hr-margin: $xxl;

/* Footer variables: /assets/stylesheets/components/footer/footer.variables.scss */
$content-height-padding: calc(100vh - 40px); // 40px is the value of $footer-collapsed-height in the footer component
