/* Paragraph variables
   ========================================================================== */
/* Variables: /assets/stylesheets/base/variables/typography.scss */
$line-height: 1.5em;
$p-margin-top: $font-size-base;
$p-font-size: $font-size-base;
