/* Text
   ========================================================================== */
/**
* Muted text
*
* Colors variables: /assets/stylesheets/base/variables/text.scss
*/
.text-muted {
  color: $text-muted-color;
}

/* Underlined text */
.text-underline {
  text-decoration: underline;
}
