/* Alerts
   ========================================================================== */
/**
*  These rules overwrite existing Bootstrap rules
*  Alerts depend on 3 classes: alert alert-position alert-type
*  Use it in HTML as
*  <div class='alert alert-global alert-danger'>
*    Alert content goes here
*  </div>
*
*
* Variables file: assets/stylesheets/components/alerts/alerts.variables.scss
*/

/* Shared styles */
.alert {
  // reset Bootstrap border-radius
  border-radius: 0;

  .close {
    color: $alert-close-color;
    opacity: 1;
  }
}

/* Global alerts
   ========================================================================== */
.alert-global {
  // reset Bootstrap border color
  border-color: transparent;
  color: $alert-global-text;
  padding: $alert-global-h-padding $alert-global-v-padding;

  a {
    color: $alert-global-link;
  }

  /* Success alert */
  &.alert-success {
    background-color: $alert-global-success-bg;
  }

  /* Success alert */
  &.alert-info {
    background-color: $alert-global-info-bg;
  }

  /* Success alert */
  &.alert-warning {
    background-color: $alert-global-warning-bg;
  }

  /* Success alert */
  &.alert-danger {
    background-color: $alert-global-danger-bg;
  }
}

/* Section alerts
   ========================================================================== */
.alert-section {
  background-color: $alert-section-bg;
  // reset Bootstrap default border colours
  border-color: transparent;
  color: $alert-section-text;
  padding: $alert-section-padding-top $alert-section-padding-right $alert-section-padding-bottom $alert-section-padding-left;

  .alert-title {
    font-size: $alert-section-title;
    margin-bottom: $s;
  }

  .alert-link {
    color: $alert-section-link;
    font-weight: normal;
  }

  .alert-body {
    margin-left: $xl;
  }

  .alert-message {
    margin-bottom: $m;
  }

  &.solid-bg {
    color: $alert-section-solid-text;

    .alert-link {
      color: $alert-section-solid-link;
      font-weight: bold;
    }
  }

  // Success alert with inline button
  &.inline {
    display: flex;
    justify-content: space-between;

    .alert-body {
      align-self: center;
      margin-left: 0;
    }
  }

  /* Success alert */
  &.alert-success {
    border: 1px solid $alert-section-success-color;
    border-left: 5px solid $alert-section-success-color;

    .alert-icon {
      color: $alert-section-success-color;
    }

    // Success alert with solid bg
    &.solid-bg {
      background-color: $alert-section-success-solid-bg;
      // reset inherited border properties
      border: 0;
      // add left border again
      border-left: 5px solid $alert-section-success-color;
    }
  }

  /* Info alert */
  &.alert-info {
    border: 1px solid $alert-section-info-color;
    border-left: 5px solid $alert-section-info-color;

    .alert-icon {
      color: $alert-section-info-color;
    }

    // Success alert with solid bg
    &.solid-bg {
      background-color: $alert-section-info-solid-bg;
      // reset inherited border properties
      border: 0;
      // add left border again
      border-left: 5px solid $alert-section-info-color;
    }
  }

  /* Warning alert */
  &.alert-warning {
    border: 1px solid $alert-section-warning-color;
    border-left: 5px solid $alert-section-warning-color;

    .alert-icon {
      color: $alert-section-warning-color;
    }

    // Success alert with solid bg
    &.solid-bg {
      background-color: $alert-section-warning-solid-bg;
      // reset inherited border properties
      border: 0;
      // add left border again
      border-left: 5px solid $alert-section-warning-color;
    }
  }

  /* Danger alert */
  &.alert-danger {
    border: 1px solid $alert-section-danger-color;
    border-left: 5px solid $alert-section-danger-color;

    .alert-icon {
      color: $alert-section-danger-color;
    }

    // Success alert with solid bg
    &.solid-bg {
      background-color: $alert-section-danger-solid-bg;
      // reset inherited border properties
      border: 0;
      // add left border again
      border-left: 5px solid $alert-section-danger-color;
    }
  }
}

/* Inline alerts
   ========================================================================== */
.alert-inline {
  // reset inherited border properties
  border: 0;
  color: $alert-inline-text;
  padding: $alert-section-padding-top $alert-section-padding-right $alert-section-padding-bottom $alert-section-padding-left;

  .alert-link {
    color: $alert-inline-solid-link;
    font-weight: bold;
  }

  /* Success alert */
  &.alert-success {
    background-color: $alert-inline-success-solid-bg;
    border-left: 5px solid $alert-inline-success-color;
  }

  /* Info alert */
  &.alert-info {
    background-color: $alert-inline-info-solid-bg;
    border-left: 5px solid $alert-inline-info-color;
  }

  /* Warning alert */
  &.alert-warning {
    background-color: $alert-inline-warning-solid-bg;
    border-left: 5px solid $alert-inline-warning-color;
  }

  /* Danger alert */
  &.alert-danger {
    background-color: $alert-inline-danger-solid-bg;
    border-left: 5px solid $alert-inline-danger-color;
  }
}
