/* Dashboard variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$dash-news-tutorials-wrap: $xl;
$dash-round: 140px;
$dash-figure-space: $xxl;
$dash-figure-img-w: 100px;
$dash-active-circle-gradient-from: $bc-green-400;
$dash-active-circle-gradient-to: $bc-green-900;
$dash-inactive-circle-gradient-from: $bc-gray-200;
$dash-inactive-circle-gradient-to: $bc-gray-500;
$dash-footer-padding: $s;
$dash-footer-disable-color: $bc-gray-500;


$dash-custom-breakpoint-tablet-max: 992px;
$dash-custom-breakpoint-desktop-min: 993px;

$dash-slick-slide-margin: 0 $m 0 0;
$dash-resouces-guides-margin-top: $xxl;
$dash-controller-margin-left: -$xl - 2;
$dash-controller-margin-top: 140px;
$dash-resources-guides-h2-margin-bottom: $xl;
$dash-resources-guides-h2-margin-left: $m;
