extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Typography
          p.subheadline
            | Typography is an important part of the design. 
            | It is used to organize content and create hierarchy and efficiently.
        .col-md-3
          .design-spec-file.pull-right
            a(href='https://xd.adobe.com/spec/8de9dc0f-44fe-4e10-660e-c6ce6836a3f6-fbd8/screen/425254c8-851e-4eae-9977-42c93160d1f9/typography-specs/', target='_blank')
              i.material-icons.md-18
                | launch
              | Design spec file
    hr
    article
      h3.title-strong
        | Typefaces
      h4
        | EOS Design system uses 
        |
        a(href='https://fonts.google.com/specimen/Lato', target='_blank')
          | Lato
        |
        | as standard typeface and
        |
        a(href='https://fonts.google.com/specimen/Raleway', target='_blank')
          | Raleway
        |
        | as alternative typeface
      .row
        .col-md-6.primary-alternative-block
          h4.title-strong
            | Primary typeface
          p
            | Use for body text, titles, menus
          ul.no-list-style
            li
              p
                | Lato Regular 400 
              p
                | One design system endless possibilities
            li
              p
                em
                  | Lato Italic 400 
              p
                em
                  | One design system endless possibilities
            li
              p
                strong
                  | Lato Bold 700
              p
                strong
                  | One design system endless possibilities
          
        .col-md-6.primary-alternative-block
          h4.title-strong
            | Alternative typeface
          p
            | Use in special cases like login page
          ul.no-list-style.alternative-typeface
            li
              p
                | Raleway Regular 400
              p
                | One design system endless possibilities
            li
              p
                em
                  | Raleway Medium 400
              p
                em
                  | One design system endless possibilities
            li
              p
                strong
                  | Raleway Bold 700
              p
                strong
                  | One design system endless possibilities

    article.margin-top-xxl
      h3.title-strong
        | Type scale
      p
        | Heading and body font-sizes are based on follows:
      .type-scale-container
        ul.no-list-style
          li
            .col-md-2.col-xs-12
              p
                | 28px
            .col-md-10.col-xs-12
              h1
                | H1 EOS design system
          li
            .col-md-2.col-xs-12
              p
                | 24px
            .col-md-9.col-xs-12
              h2
                | H2 EOS design system
          li
            .col-md-2.col-xs-12
              p
                | 20px
            .col-md-10.col-xs-12
              h3
                | H3 EOS design system
          li
            .col-md-2.col-xs-12
              p
                | 18px
            .col-md-10.col-xs-12
              h4
                | H4 EOS design system
          li
            .col-md-2.col-xs-12
              p
                | 16px
            .col-md-10.col-xs-12
              h5
                | H5 EOS design system
          li
            .col-md-2.col-xs-12
              p
                | 14px
            .col-md-10.col-xs-12
              h6
                | H6 EOS design system
          li
            .col-md-2.col-xs-12
              p
                | 14px
            .col-md-10.col-xs-12
              p
                | P EOS design system
          li
            .col-md-2.col-xs-12
              p
                | 18px
            .col-md-10.col-xs-12
              h4
                | Sub-headline EOS design system

    article.margin-top-xxl
      h3.title-strong
        | Line-height
      p
        | The line-height is vertical distance between lines of text. 
        | Line-height is calculated as 1:1,5 of text size.

      p
        | EOS 
        | 
        a(href='/writing', target='_blank')
          | writing guides
        |
        | and 
        | 
        a(href='writing/conventions-and-rules', target='_blank')
          | conventions and rules
        |
        | should be followed when writing 
        | titles in order to maintain consistency and clarity.

    article.margin-top-xxl
      h3.title-strong
        | Small &lt;tag&gt;
      p
        | The HTML &lt;small&gt; element makes the text font size one size smaller.

      .type-scale-container
        ul.no-list-style
          li
            .col-md-2.col-xs-12
              h1
                | H1
            .col-md-10.col-xs-12
              h1
                | Primary text 
                small
                  | secondary text
          li
            .col-md-2.col-xs-12
              h2
                | H2
            .col-md-10.col-xs-12
              h2
                | Primary text 
                small
                  | secondary text
          li
            .col-md-2.col-xs-12
              h3
                | H3
            .col-md-10.col-xs-12
              h3
                | Primary text 
                small
                  | secondary text
          li
            .col-md-2.col-xs-12
              h4
                | H4
            .col-md-10.col-xs-12
              h4
                | Primary text 
                small
                  | secondary text
          li
            .col-md-2.col-xs-12
              h5
                | H5
            .col-md-10.col-xs-12
              h5
                | Primary text 
                small
                  | secondary text
          li
            .col-md-2.col-xs-12
              h6
                | H6
            .col-md-10.col-xs-12
              h6
                | Primary text 
                small
                  | secondary text

    article.margin-top-xxl
      h3.title-strong
        | Text colors
      p
        | All the information related to text and colors can be found in the
        | 
        a(href='/colors/how-to')
          | color guide
        |
        | of the design system.
