/**
* Colors and borders
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
* Shadows variables: /assets/stylesheets/base/variables/shadows.scss
*/

$carousel-controller-disabled-color: #B6B4B4;

/* Style for the icons inside cards */
$carousel-featured-video-article-icon-size: 100px;
$carousel-featured-video-article-icon-left: 20px;
$carousel-featured-video-article-icon-opacity: 0.7;
$carousel-featured-video-article-icon-top: 25%;
$carousel-featured-video-image: url('/images/components/carousel/icon_videos.svg');
$carousel-featured-article-image: url('/images/components/carousel/icon_text.svg');

/* Card footer */
$carousel-card-footer-color: $bc-white;
$carousel-card-footer-width: 100%;
$carousel-card-footer-opacity: 1;

