/* ==========================================================================
  Footer style
========================================================================== */
footer {
  height: $footer-collapsed-height;

  ul.footer-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: $footer-side-menu-font-size;
    justify-content: center;
    margin: 0;
    padding: $footer-padding;
  }

  li.footer-list-item {
    list-style: none;
    padding: $footer-list-padding;

    img {
      width: $footer-list-image;
    }
  }

  a.footer-link {
    font-size: $footer-side-menu-font-size;
    margin: 0;
    padding: 0;
  }

  /* Style for side-menu footer.
   ========================================================================== */
  &.footer-side-menu {
    align-items: center;
    background-color: $footer-side-menu-color;
    display: flex;
    flex-direction: row;
    font-size: $footer-side-menu-font-size;
    justify-content: space-between;

    ul.footer-list {
      color: $footer-side-menu-text-color;
      display: flex;
      justify-content: space-between;
      width: $footer-side-menu-width;
    }
  }

  /* Style for content footer.
   ========================================================================== */
  &.footer-content {
    align-items: center;
    border-top: $footer-content-border-top;
    box-shadow: $footer-content-boxshadow;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: $footer-side-menu-width;

    ul.footer-list {
      color: $footer-content-color;
    }
  }

  /* Devices and when menu is collapsed.
   ========================================================================== */
  @media screen and (min-width: $md-min) {
    /* Hide footer for Devices */
    &.footer-content {
      display: none;
    }
  }

  &.display-collapsed {
    display: flex;
    margin-left: $footer-margin-collapsed-menu;
    width: auto;

    @media screen and (max-width: $sd-max) {
      margin-left: 0;
    }
  }
}
