/* Logo icons set
   ========================================================================== */
.logo-icon-set-utility {

  .icons-btn-group a {
    color: $logo-icons-btn-color;
    margin-left: 0;

    .material-icons {
      color: $logo-icons-btn-color;
      margin-right: $logo-icons-margin-right;
    }
  }
}
