extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Inline alerts
      p.subheadline
        | Inline alerts are used to notify a user of the status of an action. 
        | They appear at the top of the related item, form, container, or section.

    hr
    article
      section.margin-top-xxl.section-alerts-demo
        h3.title-strong
          | Description
        ul.list-no-padding
          li
            | Inline alerts are positioned within the area or form they relate to.
          li
            | They are often triggered in response to an action by the user.
          li
            | They may be dismissible and have a link to provide more information or to redirect the user to the next step.
          li
            | Alerts with high importance (warning or danger) should not close automatically, unless the situation has been resolved.

        h3.title-strong
          | Different states and types

        h4.title-strong.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.

        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab') 
              | Implementation examples
          li(role='presentation')
            a(href='#alert-success-css-snippet', aria-controls='alert-success-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-inline.alert-success
                  a.close.alert-close(href='javascript:void(0)')
                    i.material-icons.md-18
                      | close
                  .alert-body
                    | Your settings have been saved. 
                    a.alert-link(href='javascript:void(0)')
                      | View comment
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | &lt;div class='alert alert-inline alert-success'&gt;
                  |   &lt;a class='close alert-close' href="#"&gt;&lt;i class='material-icons md-18'&gt;close&lt;/i&gt;&lt;/a&gt;
                  |   &lt;div class='alert-body'&gt;
                  |     Your settings have been saved. &lt;a class='alert-link' href='#'&gt;View comment&lt;/a&gt;
                  |   &lt;/div&gt;
                  | &lt;/div&gt;
            a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
              i.material-icons.md-18
                | launch
              | Alerts design specifications
          #alert-success-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.material-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.material-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | .alert-inline {
                  |   // reset inherited border properties
                  |   border: 0;
                  |   color: $bc-blue-400;
                  |   padding: 8px 0 8px 20px;
                  |
                  |   .alert-link {
                  |     color: $bc-blue-700;
                  |     font-weight: bold;
                  |   }
                  |
                  |   /* Success alert */
                  |   &.alert-success {
                  |     background-color: $bc-green-100;
                  |     border-left: 5px solid $bc-green-500;
                  |   }
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more

        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-info-css-snippet', aria-controls='alert-info-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-info
                    a.close.alert-close(href='javascript:void(0)')
                      i.material-icons.md-18
                        | close
                    .alert-body
                      | Jerry added a comment to one of your cases. 
                      a.alert-link(href='javascript:void(0)')
                        | View comment
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | &lt;div class='alert alert-inline alert-info'&gt;
                    |   &lt;a class='close alert-close' href='#'&gt;&lt;i class='material-icons md-18'&gt;close&lt;/i&gt;&lt;/a&gt;
                    |   &lt;div class='alert-body'&gt;
                    |     Jerry added a comment to one of your cases. &lt;a class='alert-link' href='#'&gt;View comment&lt;/a&gt;
                    |   &lt;/div&gt;
                    | &lt;/div&gt;
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-info-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | .alert-inline {
                    |   // reset inherited border properties
                    |   border: 0;
                    |   color: $bc-blue-400;
                    |   padding: 8px 0 8px 20px;
                    |
                    |   .alert-link {
                    |     color: $bc-blue-700;
                    |     font-weight: bold;
                    |   }
                    |
                    |   /* Info alert */
                    |   &.alert-info {
                    |     background-color: $bc-cerulean-100;
                    |     border-left: 5px solid $bc-cerulean-500;
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more

        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-warning-css-snippet', aria-controls='alert-warning-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-warning
                    a.close.alert-close(href='javascript:void(0)')
                      i.material-icons.md-18
                        | close
                    .alert-body
                      | Your browser is outdated. Your Salesforce experience may be degraded. 
                      a.alert-link(href='javascript:void(0)')
                        | More
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | &lt;div class='alert alert-inline alert-warning'&gt;
                    |   &lt;a class='close alert-close' href='#'&gt;&lt;i class='material-icons md-18'&gt;close&lt;/i&gt;&lt;/a&gt;
                    |   &lt;div class='alert-body'&gt;
                    |     Your browser is outdated. Your Salesforce experience may be degraded. &lt;a class='alert-link' href='#'&gt;More&lt;/a&gt;
                    |   &lt;/div&gt;
                    | &lt;/div&gt;
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-warning-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | .alert-inline {
                    |   // reset inherited border properties
                    |   border: 0;
                    |   color: $bc-blue-400;
                    |   padding: 8px 0 8px 20px;
                    |
                    |   .alert-link {
                    |     color: $bc-blue-700;
                    |     font-weight: bold;
                    |   }
                    |
                    |   /* Warning alert */
                    |   &.alert-warning {
                    |     background-color: $bc-yellow-100;
                    |     border-left: 5px solid $bc-yellow-900;
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab') 
                | Implementation examples
            li(role='presentation')
              a(href='#alert-danger-css-snippet', aria-controls='alert-danger-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-danger
                    a.close.alert-close(href='javascript:void(0)')
                      i.material-icons.md-18
                        | close
                    .alert-body
                      | Your browser is outdated. Your Salesforce experience may be degraded. 
                      a.alert-link(href='javascript:void(0)')
                        | More
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | &lt;div class='alert alert-inline alert-danger'&gt;
                    |   &lt;a class='close alert-close' href='#'&gt;&lt;i class='material-icons md-18'&gt;close&lt;/i&gt;&lt;/a&gt;
                    |   &lt;div class='alert-body'&gt;
                    |     Your browser is outdated. Your Salesforce experience may be degraded. &lt;a class='alert-link' href='#'&gt;More&lt;/a&gt;
                    |   &lt;/div&gt;
                    | &lt;/div&gt;
              a.btn-link.pull-right(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                i.material-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-danger-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.material-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.btn-link.js-tooltip(href='https://eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.material-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | .alert-inline {
                    |   // reset inherited border properties
                    |   border: 0;
                    |   color: $bc-blue-400;
                    |   padding: 8px 0 8px 20px;
                    |
                    |   .alert-link {
                    |     color: $bc-blue-700;
                    |     font-weight: bold;
                    |   }
                    |
                    |   /* Danger alert */
                    |   &.alert-danger {
                    |     background-color: $bc-red-100;
                    |     border-left: 5px solid $bc-red-500;
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
