/* Mobile menu section / $mm = mobile-menu
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$mm-background: $bc-blue-500;
$mm-burger-icon-color: $bc-white;
$mm-background-navigation: $bc-blue-400;
$mm-navigation-submenu-link: $bc-blue-500;
$mm-navigation-border: $bc-blue-600;
$mm-navigation-link: $bc-white;
$mm-navigation-background-link-active: $bc-green-500;
$mm-dropdown-hover: $bc-blue-500;
$mm-title-color: $bc-white;
$mm-dropdown-hover-active: $bc-green-800;
$mm-hr-border: 1px solid $bc-blue-600;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
/* z-index variables: /assets/stylesheets/base/variables/z-index.scss */
$mm-height: 80px;
$mm-header-padding: $l;
$mm-burger-menu-right: $l;
$mm-nav-li-a-padding: $s $xl;
$mm-title-padding: $s $l;
$mm-mobile-submenu-span-padding: $s $l;
$mm-mobile-submenu-a-padding: $xxl;
$mm-mobile-submenu-a-dashboard-padding: $l;
$mm-zindex: $zindex-modal-background;
