/* Submenu variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$submenu-text-color: $body-color;
$submenu-hover-border: $bc-gray-400;
$submenu-hover-color: $color-main;
$submenu-selected-border-color: $bc-green-500;
$submenu-dropdown-span: $bc-gray-200;
$submenu-search-border: $bc-gray-200;
$submenu-background: $bc-white;
$submenu-border: $bc-gray-80;
$submenu-box-scroll: 1px 2px 4px rgba(0, 0, 0, 0.1);

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$submenu-input-width: 200px;
$submenu-height: $xxl;
$submenu-width: 100%;
$submenu-toggle-padding: $m;
$submenu-item-spacing: $s + 4;
$submenu-nav-border-width: 3px;
$submenu-search-wrap-height: $xl;
$submenu-dropdown-padding: $s $m;
$submenu-item-padding: $submenu-item-spacing $m;
$submenu-more-dd-padding: $s;
$submenu-zindex: $zindex-navbar-fixed;

/* z-index variables: /assets/stylesheets/components/mobile-menu/mobile-menu.variables.scss */
$mobile-menu-height: $mm-height;
