.link-box {
  background-image: url('../images/colors/download_icon.svg');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: $link-box-background-size;
  border-radius: $link-box-border-radius;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
  color: $link-box-color;
  display: flex;
  font-size: $font-size-base;
  height: $link-box-hight;
  position: relative;
  width: 100%;

  h4,
  p {
    margin: 0;
  }

  h4,
  strong {
    color: $link-box-color-darker;
  }

  &-left {
    align-items: center;
    background: $link-box-left-background;
    display: flex;
    justify-content: center;
    width: 20%;

    img {
      max-width: $link-box-image-width;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $link-box-right-padding;
    width: 80%;
  }

  &:after {
    bottom: 0;
    content: ' ';
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease-in-out;
    width: 0;
  }

  &:hover {
    cursor: pointer;

    &:after {
      background-color: $link-box-after-color;
      width: 100%;
    }
  }

  /* Reset link colors for the a box */
  &:active,
  &:hover,
  &:visited,
  &:focus {
    color: $link-box-color;
    text-decoration: none;
  }

  /* Device */
  @media screen and (max-width: $md-max) {
    margin-top: $xl;
 }
}
